:root{
    --primary-font: "Inter";
    /* --primary-color:#1E3E58; */
    /* --primary-color: #153D8A; */
    --secondary-color:#71A4D6;
    --buttons-color: #3C69AD;
}

*,
*::before,
*::after{
    font-family: "Inter"; 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 999;
}

.loader-display-none{
    display: none;
}

.home-page-container{
    position: relative;
  padding-bottom: 321px;
}

.image-slider-container{
    max-width: 100vw;
    aspect-ratio: 5 / 2;
    margin: 0 
}

.hero-section-container{
    width: 100%;
    background: var(--primary-color);
    padding: 24px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.hero{
    /* color: var(--primary-color); */
    color: white;
    font-size: 48px; 
    letter-spacing: -1px;
}

.slogan-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.slogan{
    /* color: var(--secondary-color); */
    color: white;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
}

.more-button-container{
    margin-top: 10px;
    background-color: var(--buttons-color);
    width: 150px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.more-button-container:hover{
    cursor: pointer;
    opacity: 90%;
}

.services-section-container{
    margin-top: 64px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
}

/* .services-section-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.services-section-header-container{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.services-section-header{
    color: var(--primary-color);
    font-size: 48px; 
    letter-spacing: -1px;
}

.services-section-paragraph{
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
}

.service-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; 
}

.service-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--primary-color);
    min-height: 400px;
    padding: 1rem;
    border-radius: 10px;
}

.service-card-header{
    font-size: 32px;
    color: var(--primary-color);
    letter-spacing: -1px;
    margin-bottom: 24px;
}

.service-description{
    font-size: 16px;
    color: var(--secondary-color);
    letter-spacing: 1px;
    line-height: 32px;
}

.svg-container{
    width: 150px;
    height: 150px;
}

.svg-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stats-section{
    padding: 24px 150px 64px 150px;
    width: 100vw;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    gap: 24px;
    grid-template-areas:
        "emergency days lorum" 
        "emergency days lorum"
        "emergency patients lorum"
        "consultaion patients lorum"
        "consultaion patients lorum"
        "consultaion patients beds"
        "consultaion patients beds"
        "consultaion hospitalisation beds"
        "consultaion hospitalisation beds"
}

.stats-section-container{
    margin-top: 64px;
    width: 100vw;
    text-align: center;
}

.stats-section-header-container{
    padding: 0 30px;
     display: flex;
    justify-content: center;
    align-items: center;
}

.stats-section-header{
    color: var(--primary-color);
    font-size: 48px; 
    letter-spacing: -2;
}

.grid-item{
    min-height: 100px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.grid-item .overlay{
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    pointer-events: none;
    border-radius: 10px;
}

.grid-item-image{
    object-fit:fill;
    width: 100%;
    height: 100%;
    border-radius: 10px
}

.stat-card-header{
    position: absolute;
    bottom: 16px;
    text-align: center;
}

.stat-card-number{
    color: #C1CBD9;
    font-size: 32px;
    font-weight: bolder;
}


.stat-card-text{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.emergency-card{
    grid-area: emergency;
}

.staying-days-card{
    grid-area: days;
}

.lorem-ipsum-card{
    grid-area: lorum;
}

.consultaion-card{
    grid-area: consultaion;
}

.accepted-patients-card{
    grid-area: patients;
    height: 300px;
}

.hospitalisation-days-card{
    grid-area: hospitalisation;
}

.beds-card{
    grid-area: beds;
}

.emergency-section{
    padding: 0 30px;
    background: var(--primary-color);
    width: 100vw;
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.emergency-section-header{
    font-size: 40px;
}

.phone-number-button-container{
    background-color: var(--buttons-color);
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    text-decoration: none;
}

.phone-number{
    color: #fff;
    font-size: 40px;
}

.phone-icon{
    width: 63px;
    height: 63px;
}

.faq-section{
    margin:  64px 30px 0 30px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.faq-section-header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.faq-section-header{
    font-size: 48px;
    letter-spacing: -2px;
    color: var(--primary-color);
}

.faq-section-paragraph{
    font-size: 16px;
    color: var(--secondary-color);
}

.question-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.question-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
    min-width: 70vw;
    max-width: 70vw ;
    min-height: 150px;
    padding: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid var(--primary-color);
}

.question-container{
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
}

.answer{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    color: var(--secondary-color);
}

.secondary-header{
    font-size: 48px;
    letter-spacing: -2px;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
}

.contact-button-container{
    background-color: var(--buttons-color);
    width: 213px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 22px;
}


@media (max-width:1150px) {
   .hero{
    font-size: 40px;
   } 
   .services-section-header{
    font-size: 40px;
   }
   .faq-section-header{
    font-size: 40px;
   }
   .secondary-header{
    font-size: 40px;
   }
   .service-card-container{
    gap: 0;
   }
   .service-card-header{
    font-size: 24px;
   }

   .service-description{
    line-height: 24px;
   }

   .stats-section{
    padding-left: 30px;
    padding-right: 30px;
   }

   .stats-section-header{
    font-size: 40px;
   }
}

@media (max-width:990px) {
    .home-page-container{
        padding-bottom: 663px;
    }
   .hero{
    font-size: 32px;
   } 
   .slogan{
    font-size: 14px;
    line-height: 24px;
   }
   .more-button-container{
    width: 120px;
    height: 40px;
    font-size: 14px;
   }
   .services-section-header{
    font-size: 32px;
   }
   .services-section-paragraph{
    font-size: 14px;
    line-height: 24px;
   }

   .service-cards-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
   }

   .service-card-container{
        min-height: 200px;
   }

   .service-card-header{
    font-size: 32px;
   }

   .svg-container{
    width: 130px;
    height: 130px;
   }

   .emergency-section-header{
    font-size: 32px;
   }
   
   .phone-number{
    font-size: 32px;
   }

   .phone-icon{
    width: 56px;
    height: 56px;
   }

   .faq-section-header{
    font-size: 32px;
   }

   .secondary-header{
    font-size: 32px;
   }

   .contact-button-container{
    width: 120px;
    height: 40px;
    font-size: 14px;
   }

   .stats-section-header{
    font-size: 32px;
   }

   .stat-card-number{
    font-size: 24px;
   }

   .stat-card-text{
    font-size: 16px;
    font-weight: normal;
   }
}

@media (max-width: 700px) {
    /* .hero-section-container{
        margin-top: 24px;
    } */
    .stats-section{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "emergency days" 
            "emergency days"
            "patients patients"
            "consultaion beds "
            "hospitalisation lorum"
            /* "consultaion patients "
            "consultaion patients beds"
            "consultaion patients beds"
            "consultaion hospitalisation beds"
            "consultaion hospitalisation beds" */;
        gap: 16px;

    }

    .accepted-patients-card{
        height: 200px;
    }
    
    .stats-section-container{
        margin-top: 24px;
    }

    .faq-section{
        margin-top: 24px;
    }

    .stats-section{
        padding-bottom:24px;
    }

    .faq-section-header-container{
        gap: 8px;
    }


}




@media (max-width:650px) {
    .hero-section-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        text-align: center;
    }
    .hero{
        font-size: 24px;
    }
    .slogan-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .services-section-container{
        margin-top: 24px;
        align-items: center;
        gap: 24px;
    }

    .services-section-header-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-align: center;
    }

    .services-section-header{
        font-size: 24px;
    }

    .service-cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:32px;
    }

    .service-card-container{
        justify-content: center;
        align-items: center;
       text-align: center; 
    }

    .service-card-header{
        font-size: 20px;
    }

    .svg-container{
        width: 100px;
        height: 100px;
       }
    
      .emergency-section{ 
        height: 300px;
       }
    
       .emergency-section-header{
        font-size: 24px;
       }
       
       .phone-number{
        font-size: 24px;
       }
    
       .phone-icon{
        width: 32px;
        height: 32px;
       }
       .phone-number-button-container{
        width: 250px;
        height: 72px;
        text-decoration: none;
       }

       .faq-section-header{
        font-size: 24px;
       }

       .secondary-header{
        font-size: 24px;
       }

       .stats-section-header{
        font-size: 24px;
       }

       
}


